/* ==========================================================================
   INPUTS AND OUTPUTS
   ========================================================================== */
.lab { width: 35px; font-size: 9px; line-height: 1; font-family: Arial, sans-serif; color: #999; text-align: right; vertical-align: top; padding: 8px 0 0 0; white-space: nowrap; }
.Input { padding: 2px 4px 2px; }
.Output { padding: 1px 4px 2px; }
.IO { position: relative; margin: 1rem 0; }
.IO table { width: auto; max-width: 100%; }
.IO .Output img { max-width: 100%; height: auto; }
.IO .Message { margin: 0 0 1rem 73px; }
.InCell { min-width: 210px; margin: .5rem 0; }
.number { display: none; }
.celllabelTableForm { font-size: .7rem; line-height: 1; font-family: Arial, sans-serif; color: #828282; margin: .37rem 0 0 1.57rem; }
.IO .Print { margin: 0 73px 5px; }
.IO .Print:last-of-type { margin: 0 73px 1.4rem; }
p + .IO { margin: 0 0 1rem; }

/* ==========================================================================
   CLIPBOARD
   ========================================================================== */
/*.InCell:hover .Input img { filter: invert(0.03); -webkit-filter: invert(0.03); -ms-filter: invert(0.03); }*/
.InCell { box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0); padding: .33rem; border-radius: .33rem; width: auto; line-height: 0; }
.InCell:hover { 
    background: linear-gradient(0deg, rgba(40,200,250,0.05) 0%, rgba(40,200,250,0) 20%, rgba(40,200,250,0) 80%, rgba(40,200,250,.05) 100%);
    box-shadow: 0 0 6px 0px rgb(40 190 250 / 40%);
    position: relative; 
}
.InCell.clipboard-no-padding { padding: 0; margin: 0; margin-left: 0; margin-top: -4px; }
.clipboard-no-padding td { padding: 0; font-size: 0; }

.InCell .tooltip { line-height: 1.3; display: block; background: #f5f5f5; border: 1px solid #e5e5e5; border-radius: 3px; padding: 8px; position: absolute; top: -53px; left: 0; right: 0; margin: auto; width: 130px; color: #898989; font-size: 12px; font-family: 'Roboto', Arial, Helvetica, sans-serif; text-align: center; z-index: 10; white-space: nowrap; }
.InCell .tooltip.bottom { top: auto; bottom: -53px; }

.clipboard { width: 28px; height: 28px; border-radius: 28px; background-color: #fff; border: 1px solid #e5e5e5; position: absolute; top: 0; left: -20px; bottom: 0; margin: auto; }
.clipboard:before { content: ''; background-image: url('images/clipboard.png'); background-size: 25px 16px; width: 12px; height: 16px; display: inline-block; background-position: 0 0; top: 0; bottom: 0; left: 0; right: 0; margin: auto; position: absolute; }
.clipboard.copied:before { background-position: -12px  0; }
.InCell .tooltip:before { content: ''; border-top: 9px solid #f5f5f5; border-bottom: 9px solid transparent; border-left: .67rem solid transparent; border-right: .67rem solid transparent; display: block; width: 0; height: 0; position: absolute; top: 30px; left: 0; right: 0; margin: auto; z-index: 10; }

.InCell .tooltip:after { content: ''; border-top: .67rem solid #e5e5e5; border-bottom: .67rem solid transparent; border-left: .73rem solid transparent; border-right: .73rem solid transparent; display: block; width: 0; height: 0; position: absolute; top: 31px; left: 0; right: 0; margin: auto; z-index: 9; }

.InCell .tooltip.bottom:before { border-top: 9px solid transparent; border-bottom: 9px solid #f5f5f5; border-left: .67rem solid transparent; border-right: .67rem solid transparent; top: -18px; }
.InCell .tooltip.bottom:after { border-top: .67rem solid transparent; border-bottom: .67rem solid #e5e5e5; border-left: .73rem solid transparent; border-right: .73rem solid transparent; top: -22px; }

.InCell.hover:active { background: #f5f5f5; }
.InCell.hover:active .tooltip { display: none; }
.InCell.hover:active .clipboard { background-color: #f5f5f5; }
.IFL { overflow: hidden; width: 1px; height: 1px; color: transparent; font-size: 1; line-height: 1; z-index: 0; position: absolute; }
.IFL.show { padding: .67rem; font-size: .67rem; line-height: 1.5; background: #f7f7f7; border-radius: .33rem; border: 1px solid #e5e5e5; box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1); padding: .67rem 1.33rem 1.33rem; color: #494949; height: auto; z-index: 2; position: absolute; width: 450px; margin-top: .33rem; }
.IFL.show .text { max-height: 300px; background: #fff; border: 1px solid #e5e5e5; padding: .33rem; margin-top: .67rem; overflow-y: auto; }
.IFL .close { box-sizing: border-box; position: absolute; width: 2.67rem; height: 2.67rem; top: 0; right: 0; padding: 2px 0 0 23px; cursor: pointer; display: block; }

/*fix*/
pre.text {
    left: -999999px;
    position: absolute;
    top: 0;
}


/* ==========================================================================
   responsive breakpoint styles
   ========================================================================== */

/* styles for large screens (1200px)
   ========================================================================== */

@media all and (max-width: 1200px) {
    .main { font-size: 1rem; }
    .main #Examples p { font-size: 1rem; }
}

/* styles for medium screens (900px)
   ========================================================================== */

@media all and (max-width: 900px) {
    .AlphabeticalListing table td { width: 100%; display: block; }
}

/* styles for small screens (600px)
   ========================================================================== */

@media all and (max-width: 600px) {
    /* inputs and outputs */
    .lab { display: none; }
    .IO .Message { margin: 0; }
    .InCell .number:after, .OCell .number:after { font-family: Arial, sans-serif; content: ''; display: inline-block; line-height: 1; color: #bbb; font-size: 1rem;
    position: relative; width: 4px; height: 7px; left: 1px; top: 0; }
    .InCell .number:after { content: '\00bb'; }
    .OCell .number:after { content: '\203a'; }
    .InCell .number, .OCell .number { font-size: .7rem; font-family: Arial, sans-serif; position: relative; display: table-cell; color:#999; width: 1rem; vertical-align: text-top; top: 5px; right: 3px; white-space: nowrap; text-align: left; left: 1px; }
    .OCell img { max-width: 100%; }
    .IO .Print { margin: 0 0 5px; }

    #techNote .IO, .howto .IO { margin: 1rem 0 0 1.2rem; }

    .character-img, .character-img + td { width: 100%; display: block; }

    /* clipboard */
    .clipboard { display: none; }
    .tooltip { left: 0; }
    .InCell, .OCell { left: -18px; position: relative; }
    #Examples .hideable { margin: 0 0 0 .37rem; }
    #Examples .hideable .hideable { margin: 0 0 0 .67rem; }
    #Examples .hideable .hideable .hideable { margin: 0; }
}

/* Temporarily, Move into styles.css */
.InCell {
    border-collapse: separate;
    border-spacing: 2px;
    margin-top: -.5rem;
    margin-left: -3px;
}
