@font-face {
    font-family: 'Hack';
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    src: url('Hack-Regular.woff2') format('woff2'),
         url('Hack-Regular.woff') format('woff'),
         url('Hack-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Hack';
    font-stretch: normal;
    font-style: italic;
    font-variant: normal;
    font-weight: 400;
    src: url('Hack-Italic.woff2') format('woff2'),
         url('Hack-Italic.woff') format('woff'),
         url('Hack-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Hack';
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    src: url('Hack-Bold.woff2') format('woff2'),
         url('Hack-Bold.woff') format('woff'),
         url('Hack-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Hack';
    font-stretch: normal;
    font-style: italic;
    font-variant: normal;
    font-weight: 700;
    src: url('Hack-BoldItalic.woff2') format('woff2'),
         url('Hack-BoldItalic.woff') format('woff'),
         url('Hack-BoldItalic.ttf') format('truetype');
}
