.ajax-text-and-image {
    max-width: 800px; 
    margin: 20px auto; 
    background: #FFF; 
    padding: 0; 
    line-height: 1; 
    position: relative;
}
.ajcol {
    width: 50%; float:left;
}
.ajcol img {
    width: 100%; height: auto;
}
body.magnific-video,
.magnific-video iframe { 
    overflow: hidden; 
    width: 100vw; 
    height: 56.25vw; 
    padding: 0;
    margin: 0;
}
.jsrequired { 
    padding: 20px;
}
.mfp-content {
    text-align: center;
    padding: 10px 0 !important;
}
button.mfp-close {
    top: 0 !important;
}
.white-popup-block {
    display: inline-block;
    text-align: left;
}
.white-popup-block img {
    height: auto;
    max-width: 100%;
}

.fullzoom .mfp-container .mfp-content,
.fullzoom .mfp-container img.mfp-img {
    max-width: 100% !important;
}


@media all and (max-width:30em) {
    .ajcol { 
        width: 100%;
        float:none;
    }
}